@use "src/index.scss" as *;

.landing {
    align-items: center;
    background-color: $lightPinkPurple;
    color: $purpleberry;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    width: 80%;
}

.find,
.go {
    background-color: $pink;
    border-radius: .2em;
    border: .1em solid $candy;
    color: $intensePink;
    height: 3em;
    width: 15em;
}