@use "src/index.scss" as *;

.main-app {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trying-out-colors {
  align-self: flex-end;
  display: flex;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    font-size: 1em;
    height: 1em;
  }
}

.cherry{
  background-color: $lightBlue;
  color: $cherry;
  margin: 0;
}
.intense-pink{
  background-color: $pink;
  color: $intensePink;
  margin: 0;
}
.red{
  background-color: $lightPinkPurple;
  color: $red;
  margin: 0;
}
.blueberry{
  background-color: $ocean;
  color: $blueberry;
  margin: 0;
}
.purpleberry{
  background-color: $teal;
  color: $purpleberry;
  margin: 0;
}
.candy{
  background-color: $cherry;
  color: $candy;
  margin: 0;
}
.light-pink-purple{
  background-color: $blueberry;
  color: $lightPinkPurple;
  margin: 0;
}
.light-lavendar{
  background-color: $lightPinkPurple;
  color: $lightLavendar;
  margin: 0;
}
.ocean{
  background-color: $candy;
  color: $ocean;
  margin: 0;
}
.teal{
  background-color: $pink;
  color: $teal;
  margin: 0;
}
.light-blue{
  background-color: $ocean;
  color: $lightBlue;
  margin: 0;
}
.pink{
  background-color: $purpleberry;
  color: $pink;
  margin: 0;
}