@use "src/index.scss" as *;

.activity-info-view-container {
	align-items: center;
	background-color: $pink;
	border: .1em solid $blueberry;
	border-radius: $fifthBorderRadius;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 90%;
}

.name {
	background-color: $pink;
	color: $blueberry;
	margin: 0px;
}

.heart-icon,
.check-icon,
.bookmark-icon {
	background-color: $pink;
	color: $blueberry;
	height: 1em;
	width: 1em;
}

.picture-buttons {
	align-items: center;
	background-color: $pink;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 70%;
}
.activity-pic{
	border-radius: $fifthBorderRadius;
	width: 70%;
	
}

.information {
	background-color: $pink;
	width: 70%;
	border: .1em solid $blueberry;
	border-radius: $fifthBorderRadius;
}

.heart-and-name {
	align-items: flex-end;
	background-color: $pink;
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.buttons {
	background-color: $pink;
	display: flex;
	flex-direction: column;
}

