@use "src/index.scss" as *;

.header-container {
    align-items: center;
    background-color: $lightBlue;
    color: $purpleberry;
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: center;
    width: 100%;
}
.header-nav{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main-title{
    color: $cherry;
    font-size: xxx-large;
    margin: 0;
    padding-top: .1em;
}

.clipboard,
.dude {
    width: 3em;
    height: 3em;
}

.invis-button{
    background-color: rgb(0,0,0,0);
    border: none;
    color: $purpleberry;
}