@use "src/index.scss" as *;

.activity-info-view-container {
	background-color: $lightBlue;
	color: $purpleberry;
	height: 70vh;
	width: 80vw;
	border: $oceanBorder;
	border-radius: $fifthBorderRadius;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.information {
	background-color: $lightLavendar;
	border: $oceanBorder;
	border-radius: $fifthBorderRadius;
	padding: 20px;
	width: 70vw;
}

.picture-buttons {
	align-items: center;
	background-color: $lightLavendar;
	border: $oceanBorder;
	border-radius: $fifthBorderRadius;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
	width: 70vw;
}

.name {
	margin: 0px;
}

.heart-and-name {
	width: 80%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.buttons {
	display: flex;
	flex-direction: column;
}

