@use "src/index.scss" as *;

.to-do-section {
	display: flex;
	flex-direction: column;
	// height: 80%;
	width: 100%;
}

.to-do-container {
	border: $oceanBorder;
  	border-radius: $fifthBorderRadius;
  	padding: 20px;
  	display: flex;
	flex-direction: column;
	align-items: center;
}