@use "src/index.scss" as *;

.to-do-container {
	align-items: center;
	border: $oceanBorder;
	border-radius: $fifthBorderRadius;
	color: $purpleBerry;
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 100%;
}