@use "src/index.scss" as *;

.to-do-section {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.to-do-container {
	align-items: center;
	border: $oceanBorder;
  	border-radius: $fifthBorderRadius;
  	display: flex;
	flex-direction: column;
	gap: 1em;
}