@use "src/index.scss" as *;

.activity-card {
	background-color: brown;
	border-radius: 4px;
	border: 1px solid black;
  padding: 5px;
  width: 80%
}

img {
  border-radius: 5px;
	width: 60%;
}

.activity-name {
	color: black;
  text-decoration: none;
  margin: 0;
}
