@use "src/index.scss" as *;

.activity-card {
	background-color: $lightLavendar;
	border-radius: $fifthBorderRadius;
	border: $oceanBorder;
  padding: .2em;
  width: 90%;
}

img {
  border-radius: 5px;
	width: 60%;
}

.activity-name {
  background-color: $lightLavendar;
	color: $purpleberry;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}

.activity-name,
.activity-age,
.activity-image,
.activity-bookmark{
  background-color: $lightLavendar;
}

.activity-image{
  font-size: .8em;
}

