@use "src/index.scss" as *;

.activity-card {
  background-color: $lightLavendar;
	border-radius: $fifthBorderRadius;
	border: $oceanBorder;
  display: grid;
  gap: .1em;
  grid-template-columns: 1fr, 1fr, 1fr;
  margin: 0;
  padding: .1em;
  width: 95%;
}

.activity-name {
  background-color: $lightLavendar;
	color: $purpleBerry;
  font-weight: 500;
  text-decoration: none;
}

.activity-name,
.activity-age,
.activity-image,
.activity-bookmark{
  background-color: $lightLavendar;
}

.pics-container{
  display: flex;
  flex-direction: row;
}

.activity-link,
.activity-image{
  align-self: center;
  border: .1em solid $pink;
  border-radius: $fifthBorderRadius;
  font-size: .8em;
  width: 60%;
}

.bookmark{
  color: $purpleBerry;
  height: 2em;
  width: 2em;
}
