@use "src/index.scss" as *;

.activity-card {
  background-color: $lightLavendar;
	border-radius: $fifthBorderRadius;
	border: $oceanBorder;
  display: flex;
  flex-direction: column;
  gap: .1em;
  grid-template-columns: 1fr, 1fr, 1fr;
  margin: 0;
  padding: 1em;
  width: 95%;
}

.activity-name {
  background-color: $lightLavendar;
	color: $purpleBerry;
  font-weight: 700;
  text-decoration: none;
}


.pics-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tv-dials{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.activity-link{
  width: 50%;
}
.activity-link, 
.activity-link:hover, 
.activity-link:visited, 
.activity-link:active {
  color: inherit;
  text-decoration: none;
}
.activity-image{
  border: .2em solid $pink;
  border-radius: $fifthBorderRadius;
  font-size: .8em;
  width: 100%;
}

.check-circle,
.heartmark,
.bookmark{
  color: $purpleBerry;
  height: 2em;
  width: 2em;
}

.check-circle2{
  color: $purpleBerry;
  height: 2em;
  width: 2em;
}

.bookmark2{
  color: $intensePink;
  height: 2em;
  width: 2em;
}

.heartmark2{
  color: $red;
  height: 2em;
  width: 2em;
}
.activity-name,
.activity-age,
.activity-image,
.activity-bookmark{
  background-color: $lightLavendar;
  color: $purpleBerry;
}