@use "src/index.scss" as *;

.all-activities-section {
	display: flex;
	flex-direction: column;
	// height: 80%;
	width: 100%;
}

.activity-container {
	align-items: center;
	background-color: $lightBlue;
	border: $oceanBorder;
  	border-radius: $fifthBorderRadius;
  	padding: 20px;
  	display: flex;
	flex-direction: column;
	gap: .2em;
}

@media (min-width: 40em) {
	.activity-container {
		display: grid;
		gap: 1em;
		grid-template-columns: 1fr 1fr 1fr;
	}
}